:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #14142c;

    font-family: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #edf1f2;
    }
}

html, body {margin: 0; height: 100%; overflow: hidden}

